@import 'variables.scss';
@import 'mixins.scss';
@import 'utilidades.scss';

/*-------Estilado de Footer------------*/

/*-------Anidacion de Footer------------*/

.estiloFooter{
    background-color: $color-verde;


.navFooter{
    background-color: $color-verde; 


.divMapa{
    padding-left: 5%;
}

.ulDatosFooter{
    list-style-type: none;
    font-size: $letras-parrafo; 
    color: $color-blanco;   
}



.divRedes{
    padding-right: 5%;

  .redes{
    @include altura-ancho(80%, 80%);
  }
  .list-group-item{  
  text-decoration: none;
  background-color: $color-verde;
  border: none;
}

.tituloRedes{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 5%;
    color: $color-blanco;
}
}
}
}
/*------------Apliqué animaciones en el logo de whatsapp-------*/
.wspAnimado{
    transition: 1s;
    &:hover{
        transform: rotateZ(360deg);
    }
    
}


/*-------Estilado de Responsive------------*/
@media (min-width: 400px) and (max-width: 779px){

    
    .navFooter{
            
        justify-content: center;
            
        }
    }