@import 'variables.scss';
@import 'mixins.scss';
@import 'utilidades.scss';

/*-------Estilado de Header ------------*/
.navbar-light .navbar-nav .nav-link.colorVerde{
    color: #135e4f;
}

.bgColorNav{
    background-image: $degradado-color-arena; 
}

.navLinkEstilo{
    font-weight: 400;
    font-size: 1.5rem;
    padding-right: 30px;
    padding-left: 30px;   
}


.estiloLogo{
    margin-left: 100px;
    margin-right: 30px;
    @include altura-ancho(20%, 20%);
    
}
/*-------Estilado de Responsive------------*/
@media (min-width: 400px) and (max-width: 779px){

    .estiloLogo{
        margin-left:40%; 
        height: 20%;
        
    }}