/*-------Estilado de Main Index------------*/
@import 'variables.scss';
@import 'mixins.scss';
@import 'utilidades.scss';
.divPresentacion{
    @extend .divComun;
}

.carousel-item{
    @include estilo-imagenes(80vh, 100%);
  
}

.carousel-item img{
    @include estilo-imagenes(100%, 100%);
    object-fit:cover;
}

.divCarousel{
    padding-bottom: 4%;
}

.publicidad-horizontal {
    display: block;
    margin: 0 auto;
    width: 80%; 
    height: auto;
    margin-top: 1%;
    
  }