/*-------Estilado de Main Adopciones------------*/
.card-img-top{
    width: 100%;
    height: 40vh;
}

.divAdopciones{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: large;
    background: #a9d1c5;
    background: linear-gradient(180deg,#a9d1c5 0%, #d5e5dc 80%);
    /*background: -webkit-linear-gradient(180deg,#a9d1c5 0%, #d5e5dc 80%);
    background: -moz-linear-gradient(180deg,#a9d1c5 0%, #d5e5dc 80%);*/
    padding: 1.5%;
    box-shadow: 0 0 8px 4px rgba(126, 156, 115, 0.3), 0 0 16px 8px rgba(126, 156, 115, 0.2), 0 0 24px 12px rgba(126, 156, 115, 0.1);
}

.parrafoAdopciones{
    font-size: larger;
}

.cardAdopciones{
    padding-bottom: 5%;
}
.shadowCardAdopciones{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(102, 51, 153, 0.5);
}