@import 'variables.scss';
@import 'mixins.scss';
@import 'utilidades.scss';


.cardQuienes{
    width: 70%;
}

.divConocenos{
    @extend .divComun;
    transition: 1s;
    &:hover{
        transform: translateX(25px)
    }
}

.parrafoConocenos{
    font-size:$letras-parrafo;
}
.shadowCardConocenos{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}