/*-------Estilado de Main Servicios------------*/
@import 'variables.scss';
@import 'mixins.scss';
@import 'utilidades.scss';

.divServicios{
        @extend .divComun;
    }


.grupoServicios{
    margin-bottom: 4%;
}

.card-title{
    text-align: center;
    font-size: 2.5rem;
}

/*-------------acá llamé mi mapa-------------*/
.card-text{
    text-align: map-get($alineaciones , text-align);
    align-items: map-get($alineaciones , align-items );
    list-style-type: none;
}

.shadowCardServicios{
    box-shadow: $sombra-verde;
    transition: 1s;
    &:hover{
        transform: translate(14px,14px);
        background-color: aqua;
    }
}

.tituloServicios{
    margin-top: 2%;
    margin-bottom: 3%;
}