/*-------Estilado de Main Adopciones------------*/
@import 'variables.scss';
@import 'utilidades.scss';
.card-img-top{
    width: 100%;
    height: 40vh;
}

.divAdopciones{
   @extend .divComun;
    margin-bottom: 3%;
    
}

.parrafoAdopciones{
    font-size: larger;
}

.cardAdopciones{
    padding-bottom: 5%;
}
.shadowCardAdopciones{
    box-shadow: $sombra-lila-cards;
}