/*-------Estilado de Main Index------------*/
@import 'variables.scss';
@import 'mixins.scss';
@import 'utilidades.scss';
.divPresentacion{
    @extend .divComun;
}

.carousel-item{
    @include altura-ancho(80vh, 100%);
  
}

.carousel-item img{
    @include altura-ancho(100%, 100%);
    object-fit:cover;
}

.divCarousel{
    padding-bottom: 4%;
}

.publicidad-horizontal {
    display: block;
    margin: 0 auto;
    @include altura-ancho(auto, 80%);
    margin-top: 1%;
    
  }