$tipografia-general: 'Ysabeau Office', sans-serif;
$color-verde: rgb(55, 91, 89);
$degradado-color-verde: linear-gradient(180deg,#a9d1c5 0%, #d5e5dc 80%);
$degradado-color-arena: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);